app/code/local/IntelligentReach/OrderExporter/etc/wsdl.xml

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns:typens="urn:{{var wsdl.name}}" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
             xmlns="http://schemas.xmlsoap.org/wsdl/"
             name="{{var wsdl.name}}" targetNamespace="urn:{{var wsdl.name}}">
    <types>
        <schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:Magento">
			<complexType name="shoppingCartProductEntity">
				<all>
					<element name="product_id" type="xsd:string" minOccurs="0"/>
					<element name="sku" type="xsd:string" minOccurs="0"/>
					<element name="qty" type="xsd:double" minOccurs="0"/>
					<element name="options" type="typens:associativeArray" minOccurs="0"/>
					<element name="bundle_option" type="typens:associativeArray" minOccurs="0"/>
					<element name="bundle_option_qty" type="typens:associativeArray" minOccurs="0"/>
					<element name="links" type="typens:ArrayOfString" minOccurs="0"/>
					<element name="price" type="xsd:double" minOccurs="0"/>
				</all>
			</complexType>
	    </schema>
    </types>
	<message name="shoppingCartProductAddWithPriceRequest">
        <part name="sessionId" type="xsd:string"/>
        <part name="quoteId" type="xsd:int"/>
        <part name="products" type="typens:shoppingCartProductEntityArray"/>
        <part name="storeId" type="xsd:string"/>
    </message>
	<message name="shoppingCartProductAddWithPriceResponse">
        <part name="result" type="xsd:boolean"/>
    </message>
	<message name="shoppingCartProductIrApiVersionRequest">
        <part name="sessionId" type="xsd:string"/>
    </message>
	<message name="shoppingCartProductIrApiVersionResponse">
        <part name="result" type="xsd:double"/>
    </message>
    <message name="shoppingCartShippingCustomIRMethodRequest">
        <part name="sessionId" type="xsd:string"/>
        <part name="quoteId" type="xsd:int"/>
        <part name="method" type="xsd:string"/>
		<part name="price" type="xsd:double"/>
		<part name="description" type="xsd:string"/>
        <part name="storeId" type="xsd:string"/>
    </message>
    <message name="shoppingCartShippingCustomIRMethodResponse">
        <part name="result" type="xsd:boolean"/>
    </message>
    <portType name="{{var wsdl.handler}}PortType">
        <operation name="shoppingCartShippingCustomIRMethod">
            <documentation>Set shipping method and custom values</documentation>
            <input message="typens:shoppingCartShippingCustomIRMethodRequest"/>
            <output message="typens:shoppingCartShippingCustomIRMethodResponse"/>
        </operation>
		<operation name="shoppingCartProductAddWithPrice">
            <documentation>Add product(s) to shopping cart</documentation>
            <input message="typens:shoppingCartProductAddWithPriceRequest"/>
            <output message="typens:shoppingCartProductAddWithPriceResponse"/>
        </operation>
		<operation name="shoppingCartProductIrApiVersion">
            <documentation>Get IR Api Version number</documentation>
            <input message="typens:shoppingCartProductIrApiVersionRequest"/>
            <output message="typens:shoppingCartProductIrApiVersionResponse"/>
        </operation>
    </portType>
    <binding name="{{var wsdl.handler}}Binding" type="typens:{{var wsdl.handler}}PortType">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="shoppingCartShippingCustomIRMethod">
            <soap:operation soapAction="urn:{{var wsdl.handler}}Action"/>
            <input>
                <soap:body namespace="urn:{{var wsdl.name}}" use="encoded"
                           encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </input>
            <output>
                <soap:body namespace="urn:{{var wsdl.name}}" use="encoded"
                           encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </output>
        </operation>
		<operation name="shoppingCartProductAddWithPrice">
            <soap:operation soapAction="urn:{{var wsdl.handler}}Action"/>
            <input>
                <soap:body namespace="urn:{{var wsdl.name}}" use="encoded"
                           encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </input>
            <output>
                <soap:body namespace="urn:{{var wsdl.name}}" use="encoded"
                           encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </output>
        </operation>
		<operation name="shoppingCartProductIrApiVersion">
            <soap:operation soapAction="urn:{{var wsdl.handler}}Action"/>
            <input>
                <soap:body namespace="urn:{{var wsdl.name}}" use="encoded"
                           encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </input>
            <output>
                <soap:body namespace="urn:{{var wsdl.name}}" use="encoded"
                           encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </output>
        </operation>
    </binding>
</definitions>
